{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
        <div class="p-3 mb-3">
            <h1>Votre panier</h1>
        </div>

        {% if items is not empty %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ asset('image/' ~ item.product.image) }}" alt="card-image" class="card-img-top mr-3" style="max-width: 150px; height: 100px;">{{ item.product.name }}</td>
                            <td>{{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price * item.quantity }}</td>
                            <td>
                                <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total : </td>
                        <td>{{ total }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('home') }}" class="btn btn-success">Commander</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-success">Commander</a>
            {% endif %}
        {% else %}
            <h4>Votre panier est vide.</h4>
        {% endif %}
    </div>
{% endblock %}
