{{ form_start(form) }}
    
    {{ form_row( form.name, { 'label': 'Nom' } ) }}
    {{ form_row( form.firstName, { 'label': 'Prénom' } ) }}
    {{ form_row( form.phone, { 'label': 'Téléphone' } ) }}
    {{ form_row( form.address, { 'label': 'Adresse' } ) }}
    {{ form_row( form.postcode, { 'label': 'Code' } ) }}
    {{ form_row( form.city, { 'label': 'Ville' } ) }}
    {{ form_row( form.country, { 'label': 'Pays' } )}}
    {{ form_row( form.type, { 'label': 'Type' } ) }}
    {{ form_row( form.user, { 'label': 'Utilisateur' } ) }}

    <button class="btn btn-success mb-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
