{% extends 'base.html.twig' %}

{% block title %}CustomerAddress index{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Adresse</h1>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Code</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for customer_address in customer_addresses %}
                <tr>
                    <td>{{ customer_address.id }}</td>
                    <td>{{ customer_address.name }}</td>
                    <td>{{ customer_address.firstName }}</td>
                    <td>{{ customer_address.phone }}</td>
                    <td>{{ customer_address.address }}</td>
                    <td>{{ customer_address.postcode }}</td>
                    <td>{{ customer_address.city }}</td>
                    <td>{{ customer_address.country }}</td>
                    <td>{{ customer_address.type }}</td>
                    <td>
                        <a href="{{ path('customer_address_edit', {'id': customer_address.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Pas de résultats</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('customer_address_new') }}" class="btn btn-primary">Ajouter une adresse</a>
    </div>
{% endblock %}
