<div class="card">
    {% if produit.image is not null %}
        <img src="/public/image/{{ produit.image }}" alt="card-image" class="card-img-top">
    {% else %}
        <img src="https://unsplash.it/800/600?image=59" alt="card-image" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title" style="font-size: 13px;">{{ produit.nom }}</h5>
        <div class="card-title text-danger d-flex justify-content-between" style="font-weight: bold; font-size: 16px;">
            <em class="text-muted text-primary">{{ produit.categorie.nom }}</em>
            {{ produit.prix | number_format(0, ',', ' ') }} €
        </div>
        <p class="text text-muted" style="font-size: 13px;">{{ produit.description }}</p>
        <a href="{{ path('produit_add', {'id': produit.id}) }}" class="btn btn-success float-right">
            <i class="fas fa-shopping-cart mr-1"></i>
            Ajouter
        </a>
    </div>
</div>